body {
    width: 1280px;
    margin: 0 auto;
}

.article-title {
    font-family: 'Roboto';
    font-style: normal;
    font-size: 80px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    justify-content: flex-start;
    text-decoration: none;
    margin-bottom: 40px;
}

.collor-title-1 {
    color: black;
}

.collor-title-2 {
    color: #4BCAFF;
}

.breadcrumbs {
    display: flex;
}

.first-menu {
    justify-content: center;
    display: flex;
    background-color: #35444F;
    align-items: center;
    margin: 0px;
    margin-bottom: 48px;
}

.first-menu div {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: #FFFFFF;
    box-sizing: border-box;
    border-left: 1px solid #FFFFFF;
    border-right: 1px solid #FFFFFF;
    padding: 20px;

}

.second-menu {
    justify-content: flex-start;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin: 0px;
    margin-right: 52px;
    width: 344px;
    height: 399px;
    background: white;
    border: 1px solid #000000;
}

.second-menu ol {
    margin-left: 44px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 27px;
    line-height: 27px;
    display: flex;
    align-items: center;
    height: 81px;
}

.first-image {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #000000;
    width: 885px;
    height: 529px;
    margin-bottom: 37px;
}

.container-aside {
    display: flex;
    justify-content: end;
}

.aside-content-1 {
    color: #2C2C2C;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    display: flex;
    justify-content: end;
    width: 885px;
    height: 120px;
    margin-bottom: 34px;
}
.aside-content-2 {
    color: #2C2C2C;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    display: flex;
    justify-content: end;
    width: 885px;
    height: 120px;
}

.footer-navigation {
    display: flex;
    background-color: #63696E7A;
    height: 69px;
    margin-bottom: 30px;
    margin-top: 54px;
}

.footer-content {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 28px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 1050px;
}

.footer-content-2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}